body {background-color: rgb(14, 13, 13); color:white; font-family: Arial, Helvetica, sans-serif; margin:0px; height: 100vh; display: flex; flex-direction: column;}
body::-webkit-scrollbar {display: none;}
header {display: grid; grid-template-columns: auto 1fr auto; grid-template-rows: 125px; gap: 3%; align-items: center; height: auto; min-height: 80px; padding-bottom: 5px; border-bottom: 1px solid rgba(255, 255, 255, 0.404); margin-left: 20px; margin-right: 20px;}
.logo,.banner,.social {text-align: center;}
.banner {font-size: 170%;}
.logo {justify-self: left; cursor: pointer; padding-left: 10px;}
.social {background-color: #3a3535; display: grid; grid-template-columns: repeat(6, 1fr); grid-template-rows: 2.5em; align-items: center;}
.social img {height: 1.5em; }
.social a {padding: 5px 10px 5px 10px;}
.social a:hover {background-color:#916e50; transition: 0.3s ease-in-out;}
button {border:none; height: 2.9em; background-color:#916e50; color:#fff; text-align: center; padding: 5%;}
button:hover {cursor: pointer;}
nav {border-bottom: 1px solid rgba(255, 255, 255, 0.404);}
nav li {display: inline;}
nav ul {padding: 0px;}
nav li a {text-decoration: none; color:white; text-align: center; padding: 1%; padding-right:1.7em; padding-left:1.7em;}
nav li a:hover {background-color:#916e50; cursor:pointer; transition: 0.3s ease-in-out;}
main.brands-container {flex: 1; display: flex; justify-content: center; align-items: center; gap: 60px; padding: 40px; overflow-y: auto;}
main.brands-container::-webkit-scrollbar {display: none;}
.brand-item {position: relative; width: 420px; aspect-ratio: 17 / 9; overflow: hidden; cursor: pointer;}
.brand-bg {position: absolute; inset: 0; background-size: cover; background-position: center; filter: grayscale(100%) brightness(70%); transition: filter 0.4s ease;}
.brand-item:hover .brand-bg {filter: grayscale(0%) brightness(100%);}
.brand-logo {position: absolute; inset: 0; display: flex; justify-content: center; align-items: center; z-index: 2;}
.brand-logo img {max-width: 70%; }
.brand-item::after {content: ""; position: absolute; inset: 0; background: rgba(0,0,0,0.4);}
footer {border-top:1px solid  rgba(255, 255, 255, 0.404); height:35px; display:flex; justify-content:space-between; align-items:center;}
.copyright {padding:0 10px;font-size:90%;color:#848484;}
.copyright span {margin-right:10px;}
.copyright a {padding:0 10px;border-left:1px solid #848484;color:#848484;}
.copyright a:hover {color:#916e50;}
.signatures {padding:0 10px;}
.signatures a {opacity:.5;height:25px;display:block;}
.signatures a:hover {opacity:1;}