body {background-color: #161616; color:white; font-family: Arial, Helvetica, sans-serif; margin:0px; height: 100vh; display: flex; flex-direction: column;}
header {display: grid; grid-template-columns: auto 1fr auto; grid-template-rows: 125px; gap: 3%; align-items: center; height: auto; min-height: 120px; padding-bottom: 5px; border-bottom: 1px solid rgba(255, 255, 255, 0.404); margin-left: 20px; margin-right: 20px;}
.logo,.banner,.social {text-align: center;}
.banner {font-size: 170%;}
.logo {justify-self: left; cursor: pointer; padding-left: 10px;}
.social {background-color: #3a3535; display: grid; grid-template-columns: repeat(6, 1fr); grid-template-rows: 2.5em; align-items: center;}
.social img {height: 1.5em; }
.social a {padding: 5px 10px 5px 10px;}
.social a:hover {background-color:#916e50; transition: 0.3s ease-in-out;}
button {border:none; height: 2.9em; background-color:#916e50; color:#fff; text-align: center; padding: 5%;}
button:hover {cursor: pointer;}
nav {border-bottom: 1px solid rgba(255, 255, 255, 0.404);}
nav li {display: inline;}
nav ul {padding: 0px;}
nav li a {text-decoration: none; color:white; text-align: center; padding: 1%; padding-right:1.7em; padding-left:1.7em;}
nav li a:hover {background-color:#916e50; cursor:pointer; transition: 0.3s ease-in-out;}
main{font-family: 'Nunito', sans-serif; flex:1; overflow-y: auto;}
main::-webkit-scrollbar {display: none;}
figure {justify-self: center;}
figure img{height: 180px;}
.timeline-item{margin: 20px; display: grid; grid-template-columns: 1fr 250px 1fr; align-items: center; justify-items: center; font-size: 0.8em;}
.content{padding: 15px;}
.left{border-right:2px solid #916e50; text-align: end;}
.right{border-left:2px solid #916e50;}
h2{font-size: 2rem; margin: 0px;}
p{margin:5px; line-height: 15px;}
.year span{font-size:250%;font-weight:700;color:#916e50; position:relative; display: inline-block;}
.line-left::before, .line-right::before {content: ""; position: absolute; top: 50%; transform: translateY(-50%); width: 87px; height: 2px; background-color: #916e50;}
.line-left::before {right: 100%;}
.line-right::before {left: 100%;}
footer {border-top:1px solid  rgba(255, 255, 255, 0.404); height:30px; display:flex; justify-content:space-between; align-items:center;}
.copyright {padding:0 10px;font-size:80%;color:#848484;}
.copyright span {margin-right:10px;}
.copyright a {padding:0 10px;border-left:1px solid #848484;color:#848484;}
.copyright a:hover {color:#916e50;}
.signatures {padding:0 10px;}
.signatures a {opacity:.5;height:25px;display:block;}
.signatures a:hover {opacity:1;}